/*
Hahjir Al-samach
January 20, 2022
styles.css
 */

a.btn-primary {
    background-color: blue;
    border-color: blue;
    color: white !important;
    margin-top: 0.3em;
}

.main {
    border: 1px solid lightgray;
    width: 85%;
    margin: 0px auto;
    padding: 1rem;
}

#intro h2, #intro h4, #buttondiv {
    text-align: center;
}

#info {
    border: solid 1px black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 15px;

}

.image {
    width: 40%;
}

.spaced {
    display: inline-flex;
    justify-content: flex-start;
}

.informational {
    border: 1px solid lightgrey;
    margin-left: 2rem;
    margin-bottom: 0px;
    list-style: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.contact{
    padding-top:5em;
}










